body {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-input {
    border-radius: 50px;
    color: white;
    background-color: darkgray;
}

.fa-gear {
    color: blue;
}